/* navbar.css */

.header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  background:  rgba(173, 216, 230, 0.3); 
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin-left: auto;
  padding-left: 5%;
 
}
.navbar-container-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
 
}

.logo-container {
  margin-left: auto;
}

.logo {
  width: 60px;
  height: 60px;
  transition: transform 0.5s ease-in-out;
}

@media (max-width: 640px) {
  .logo {
    width: 50px; 
    height: 50px;
  }
}

.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  padding: 5px;
  position: absolute;
  top: 15px;
  left: 15px; /* Align to the left */
  z-index: 1100;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}

.menu-icon.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: lightblue;
}

@media (max-width: 768px) {
  .navbar-container {
    width: 100%;
    justify-content: flex-end;
  }

  .logo-container {
    margin-left: 10px; /* Adjust margin for spacing */
  }

  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(173, 216, 230, 0.3);
    backdrop-filter: blur(3px);
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    width: 100%;
    padding: 10px;
  }
  .nav-links a:hover {
  background-color: lightcyan;
  }
}
